<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <variable name="LogHome" value="${basedir}/Logs"/>
  <variable name="DailyDir" value="${LogHome}${date:format=yyyy}/${date:format=MM}/${date:format=dd}/"/>
  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target
        name="fatalLog"
        xsi:type="File"
        layout="${longdate}|${callsite}|${message}|${exception}"
        fileName="${DailyDir}/Fatal.txt"
              />
    </target>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target
        name="errorLog"
        xsi:type="File"
        layout="${longdate}|${callsite}|${message}|${exception}"
        fileName="${DailyDir}/Error.txt"
              />
    </target>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target
        name="warnLog"
        xsi:type="File"
        layout="${longdate}|${callsite}|${message}"
        fileName="${DailyDir}/Warn.txt"
              />
    </target>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target
        name="infoLog"
        xsi:type="File"
        layout="${longdate}|${callsite}|${message}"
        fileName="${DailyDir}/Info.txt"
              />
    </target>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target
        name="debugLog"
        xsi:type="File"
        fileName="${DailyDir}/debug.txt"
              />
    </target>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target
        name="traceLog"
        xsi:type="File"
        fileName="${DailyDir}/Trace.txt"
              />
    </target>
  </targets>
  <rules>
    <logger name="*" level="Fatal" writeTo="fatalLog" />
    <logger name="*" level="Error" writeTo="errorLog" />
    <logger name="*" level="Warn" writeTo="warnLog" />
    <logger name="*" level="Info" writeTo="infoLog" />
    <logger name="*" level="Debug" writeTo="debugLog" />
    <logger name="*" level="Trace" writeTo="traceLog" />
  </rules>
</nlog>